# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/db/prisma/*.db

# turbo
.turbo/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# testing
coverage/
playwright-report/
test-results/

# misc
*.pem
.cache/
